body {
    font-family: 'Raleway', sans-serif;
}

.under-construction {
    background-color: #dee1e2;
}

.launch > div {
    display: inline-block;
}

.launch-image {
    padding: 5px;
}

.launch-text {
    top: 50%;
    position: absolute;
    padding-left: 34px;
    text-align: center;
}

h2 {
    color: #740900;
    font-weight: 500;
    text-align: center;
}

a {

}



@media (min-width: 320px) and (max-width: 480px) {

    .launch-image {
        display: none;
    }

    .launch-image img {
        display: none;
    }

    .launch-text {
        padding: 0;
        position: relative;
        margin-top: 100px;
    }

    h2 {
        margin: 5px 0;
    }
}

@media (min-width: 480px) and (max-width: 900px) {



    .launching-soon {
        position: fixed;
        top: 50%;
        left: 40%;
        margin-top: -280px;
        margin-left: -300px;
    }

    .launch-image img {
        width: 500px;
        height: 469px;
    }

    .launch-text {
        width: 280px;
        right: -56%;
    }

    .logo {
        height: 123px;
        width: 250px;
    }

    h2 {
        margin: 5px 0;
    }

}

@media (min-width : 900px) {
    .launching-soon {
        position: fixed;
        top: 50%;
        left: 40%;
        margin-top: -351px;
        margin-left: -430px;
        width: 1200px;
    }

    .launch-image img {
        width: 750px;
        height: 703px;
    }
}

@media (min-width : 1824px) {
/* Styles */
}
