/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: normal;
  src: local("Tangerine"), url("http://example.com/tangerine.ttf") format("truetype"); }

body {
  font-family: 'Varela', sans-serif;
  font-size: 16px;
  line-height: 1.9em;
  background: url("../img/mochaGrunge.png"); }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  line-height: 2em; }

h1 {
  font-size: 34px; }

.clear {
  zoom: 1; }
  .clear:before, .clear:after {
    content: "";
    display: table; }
  .clear:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both; }

.header-wrapper {
  position: relative;
  height: 700px; }

.header-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden; }

.header-nav {
  position: fixed;
  z-index: 12;
  left: 0;
  right: 0; }

.header-text {
  margin: 400px auto;
  width: 960px;
  padding: 100px 0; }
  .header-text h1 {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500; }

.main-nav {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 5em;
  padding: 0 50px;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: auto; }
  .main-nav.black-nav {
    background-color: rgba(0, 0, 0, 0.6); }
  .main-nav ul {
    float: right; }
  .main-nav li {
    display: inline-block;
    margin: 0 18px; }
    .main-nav li a {
      color: #000; }

.content {
  padding: 60px 0; }

.content-wrapper {
  max-width: 960px;
  margin: 0 auto;
  margin-top: -140px;
  padding: 40px;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  background: url("../img/mask.png") white no-repeat; }

.site-title {
  position: absolute;
  top: 4px; }

footer {
  background: url("../img/bg.jpg");
  color: #fff;
  padding: 0 20px;
  line-height: 5em; }
  footer .social-icons li {
    display: inline-block; }

.under-construction {
  background: #dee1e2;
  /* ultimate fallback, always put this, just in case */
  font-family: 'Inder', sans-serif;
  font-size: 16px;
  /* Firefox 15 and older, Firefox for Android */
  background: -moz-radial-gradient(circle, #e4e4e4, #959595);
  /* standard syntax, IE10, Firefox 16+, Opera 12.1+ */
  background: radial-gradient(circle, #e4e4e4, #959595);
  /* if you choose to use the image fallback */
  background: url("../img/gradient.png") no-repeat #969696;
  /* Opera 11.6 (older only supported linear), Opera 12.0, Opera Mobile 12.0 */
  background: -o-radial-gradient(circle, #e4e4e4, #959595);
  /* Chrome, Safari */
  background: -webkit-radial-gradient(circle, #e4e4e4, #959595);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .under-construction h1 {
    font-family: 'Raleway', sans-serif;
    color: #740900;
    font-weight: 500;
    text-align: center;
    font-size: 34px;
    line-height: 1.2em;
    margin: 30px 0; }
  .under-construction a {
    color: #740900; }
  .under-construction a:hover {
    color: #666;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
    -webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
    outline: 0 none; }
  .under-construction .launching-soon {
    filter: alpha(opacity=50);
    opacity: 0.6;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url("../img/launching-soon-trans.png"); }
  .under-construction .logo-wrap {
    box-sizing: border-box;
    position: absolute;
    width: 515px;
    height: 435px;
    left: 50%;
    top: 50%;
    margin-left: -257.5px;
    margin-top: -217.5px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    z-index: 1;
    text-align: center; }
  .under-construction .launch > div {
    float: left; }
  @media (min-width: 320px) and (max-width: 480px) {
    .under-construction .logo-wrap {
      width: 300px;
      margin-left: -150px;
      overflow: auto; }
    .under-construction .logo {
      width: 190px;
      height: 73px;
      padding: 0; } }
  @media (min-width: 480px) and (max-width: 900px) {
    .under-construction .launching-soon {
      background-size: 700px; } }
  @media (min-width: 900px) {
    .under-construction .launching-soon {
      background-size: 960px 900px; } }
  .under-construction .logo {
    padding: 15px 35px; }
