footer {
    background: #373d43 url('../img/bg-footer.jpg');
    color: #fff;
    line-height: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 40px;

    .copyright {
        padding-top: 10px;
        font-size: 15px;
    }

    .social-icons {
        margin: 0;

        li {
            display: inline-block;
            margin-right: 10px;
        }

        a {
            @include transition(0);
            text-indent: -9999px;
            display: block;

            &.facebook {
                @extend .social-facebook-48;

                &:hover {
                    @extend .social-facebook-hover !optional;
                }
            }

            &.twitter {

                @extend .social-twitter-48;

                &:hover {
                    @extend .social-twitter-hover !optional;
                }
            }

            &.linkedin {
                @extend .social-linkedin-48;

                &:hover {
                    @extend .social-linkedin-hover !optional;
                }
            }

            &.email {
                @extend .social-mail-48;

                &:hover {
                    @extend .social-mail-hover !optional;
                }
            }
        }
    }
}


@media (max-width: $screen-xs-min) {

    footer {
        .copyright, .contact {
            float: none !important;
        }

        .social-icons {
            padding: 0;
            margin: 10px 0;
        }

    }
}
