.about {

  .header-image {
      background-image: url('../img/header/carbon-footprint.jpg');
      top: -100px;
  }

  .tint {
      background-color: rgba(30, 30, 30, 0.5);
  }

  .profile-img {
    text-align: center;
    margin-bottom: 15px;

    img {
      width: 212px;
      height: 200px;
      border: solid 5px rgba(26,11,11,0.6);
      margin: 0 auto 15px;
      cursor: pointer;
    }

    .profile-text {
      display: block;
    }

    p {
      margin: 0;
      margin-bottom: 10px;
      padding-bottom: 15px;
      border-bottom: 1px solid #989898;
      font-style: italic;
    }
  }
}
