body {
    // font-family: 'Varela', sans-serif;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    background: #f0f0f0;
}

a {
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 2em;
    font-weight: 300;
}

p {
    line-height: 1.6;
    margin-bottom: 18px;
}

// h1 {
//     font-size: 34px;
// }

.clear {
    zoom: 1;

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        content: ".";
        height: 0;
        visibility: hidden;
        display: block;
        clear: both;
    }
}

.row {
    width: 100%;
    margin: 0 auto;
    max-width: 1144px;
}

.content {
    position: relative;
    top: 800px;
    height: 100%;
    padding: 40px 0;
    z-index: 50;
    background: url('../img/whitey.png') #f0f0f0;
    -webkit-animation: intro-content 2s forwards;
    -moz-animation: intro-content 2s forwards;
    -o-animation: intro-content 2s forwards;
    -ms-animation: intro-content 2s forwards;
    animation: intro-content 2s forwards;
}