body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    background: $gray-lighter;
}

a {
    @include transition(.5s);
    text-decoration: none;
    color: $dark-red;

    &:hover {
        text-decoration: none;
        color: $bright-red;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 2em;
}

h1, h2, h3 {
    // font-family: $font-family-serif;
}

p {
    line-height: 1.8;
    margin: 20px 0;
}

.clear {
    zoom: 1;

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        content: ".";
        height: 0;
        visibility: hidden;
        display: block;
        clear: both;
    }
}

.row {
    width: 100%;
    margin: 0 auto;
    max-width: 1144px;
}

.content {
    position: relative;
    top: 800px;
    height: 100%;
    padding: 0 0 20px 0;
    z-index: 50;
    background: transparent;
}

section {

    padding: 50px 0;

    &.light {
        background-color: #fff;
        background-image: url('../img/bg-groovepaper.png');

        h1, h2 {
            color: $dark-red;
        }
    }

    &.medium {
        background-color: $gray-lighter;
        background-image: url('../img/whitey.png');

        h1, h2 {
            color: $dark-red;
        }
    }

    &.dark {
        background-color: $gray-dark;
        background-image: url('../img/bg-gray-sand.png');
        color: $gray-lighter;
    }

    &:nth-last-child(2) {
        margin-bottom: 30px;
    }
}

.quote {
    font-family: $font-quote;
    font-size: 32px;
}