.contact {

    .header-image {
        background-image: url('../img/header/bubble-long.png');
        height: 100%;
        top: 50px;
    }

    .tint {
        background-color: rgba(20, 20, 20, 0.5);
    }

    .header-text {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -259px;
        margin-left: -200px;
        padding: 0;
        text-align: start;

        h2 {
            color: $gray-darker;
            font-size: 100px;
        }

        p, .text a {
            color: $gray-darker;
        }

    }

    .content {
        position: static;
    }

}
