.contact {

    .header-image {
        background-image: url('../img/header/bubble-long-1.png');
        height: 100%;
    }

    .tint {
        background-color: rgba(20, 20, 20, 0.5);
    }

    .content {
        position: static;
    }

}
