.services {

    .anchor {
        position: relative;
        top: -100px;
    }

    .header-text {
        top: 25%;
        right: 37%;

        h3 {
            background-color: rgba(34, 34, 34, 0.7);
            border-radius: 250px;
            padding: 25px 30px;
            text-align: center;
            width: 300px;
            height: 300px;
            font-size: 32px;
        }
    }

    .header-image {
        background-image: url('../img/header/spice-market.jpg');
        top: -50px;
    }

    .tint {
        background-color: rgba(116, 10, 2, 0.7);
    }

    h2 {
        margin-top: 0;
    }

    .analytics .icon-section {
        margin-top: 35px;
    }

    .icon {
        display: block;
        margin: auto;

        &.icon-operations {
            @extend .services-operations-256;
        }

        &.icon-analytics {
            @extend .services-analytics-256;
        }

        &.icon-strategy {
            @extend .services-strategy-256;
        }
    }

    .cols {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;

        ul {
            -webkit-padding-start: 20px;
        }
    }


}
