@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: normal;
  src: local('Tangerine'), url('http://example.com/tangerine.ttf') format('truetype');
}

body {
    font-family: 'Varela', sans-serif;
    font-size: 16px;
    line-height: 1.9em;
    -webkit-font-smoothing: antialiased;
    background: #f0f0f0;
}

a {
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 2em;
}

h1 {
    font-size: 34px;
}

.clear {
    zoom: 1;

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        content: ".";
        height: 0;
        visibility: hidden;
        display: block;
        clear: both;
    }
}

.row {
    width: 100%;
    margin: 0 auto;
    max-width: 1144px;
}

.nav-header {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    background: transparent;
    padding: 40px 50px 0;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -o-transition: background .2s linear;
    -ms-transition: background .2s linear;
    transition: background .2s linear;

    &.sticky {
        background: #fe4444;
        -webkit-transition: background .2s linear;
        -moz-transition: background .2s linear;
        -o-transition: background .2s linear;
        -ms-transition: background .2s linear;
        transition: background .2s linear;
    }
}

.main-nav {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 5em;

    ul {
        overflow: hidden;
        float: right;
    }

    li {
        display: inline-block;
        margin: 0 18px;

        a {
            color: #f0f0f0;

            &:hover {
                color: #aaa;
            }
        }
    }
}

.site-title {
    float: left;
    width: 80px;
    height: 63px;
    display: block;
}

.header-image {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 765px;
    background: #fff url('../img/finance-img-placeholder.jpg');
    background-size: cover;
}

.tint {
    background-color: rgba(116, 10, 2, 0.7);
    height: 100%;
    z-index: 4;
}


.header-text {
    margin: 400px auto;
    width: 960px;
    padding: 100px 0;

    h1 {
        font-size: 45px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: #fff;
        font-weight: 500;
    }
}

@media(min-width: 768px) {
}

.content {
    position: relative;
    top: 765px;
    height: 100%;
    padding: 60px 0;
    z-index: 30;
    background: #f0f0f0 no-repeat; /* url('../img/mask.png') */
    -webkit-animation: intro-content 2s forwards;
    -moz-animation: intro-content 2s forwards;
    -o-animation: intro-content 2s forwards;
    -ms-animation: intro-content 2s forwards;
    animation: intro-content 2s forwards;
}

.services {
    padding: 40px 0;
    margin-bottom: 60px;

    h2 {
        font-size: 42px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 60px;
    }
}

.service-icon {

    &.icon-left {
        float: left;
        margin-right: 20px;
    }

    &.icon-right {
        float: right;
        margin-left: 20px;
    }

    &.strategy {
        @extend .services-strategy-70;
    }

    &.operations {
        @extend .services-analysis-70;
    }

    &.analysis {
        @extend .services-analysis-70;
    }
}

footer {
    background: #47525e;
    color: #fff;
    padding: 0 20px;
    line-height: 5em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .social-icons {

        li {
            display: inline-block;
            margin-right: 10px;
            text-indent: -500px;

            &.facebook {
                @extend .social-facebook;
            }

            &.twitter {
                @extend .social-twitter;
            }

            &.linkedin {
                @extend .social-linkedin;
            }
        }
    }
}