@font-face {
  font-family: 'Novecento';
  font-style: normal;
  font-weight: normal;
  src: local('Novecento'), url('../fonts/novecento.ttf') format('truetype');
}

body {
    font-family: 'Varela', sans-serif;
    font-size: 16px;
    line-height: 1.9em;
    -webkit-font-smoothing: antialiased;
    background: #f0f0f0;
}

a {
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 2em;
}

h1 {
    font-size: 34px;
}

.clear {
    zoom: 1;

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        content: ".";
        height: 0;
        visibility: hidden;
        display: block;
        clear: both;
    }
}

.row {
    width: 100%;
    margin: 0 auto;
    max-width: 1144px;
}

.content {
    position: relative;
    top: 800px;
    height: 100%;
    padding: 60px 0;
    z-index: 50;
    background: url('../img/whitey.png') #f0f0f0;
    -webkit-animation: intro-content 2s forwards;
    -moz-animation: intro-content 2s forwards;
    -o-animation: intro-content 2s forwards;
    -ms-animation: intro-content 2s forwards;
    animation: intro-content 2s forwards;
}

.container {
    padding: 40px 0;
    margin-bottom: 60px;

    h2 {
        font-size: 42px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 60px;
    }
}

#service-blurbs > div {
    margin-bottom: 30px;
    position: relative;
}

.service-icon {

    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;


    &.icon-left {
        float: left;
        margin-right: 20px;
    }

    &.icon-right {
        float: right;
        margin-left: 20px;
    }

    &.strategy {
        @extend .services-strategy-70;
    }

    &.operations {
        @extend .services-operations1-70;
    }

    &.analysis {
        @extend .services-analysis-70;
    }

    &:hover {
        -webkit-filter: blur(2px);
        opacity: 0.3;
    }
}

.service-title {
    display: none;
    font-size: 16px;
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 10px;

    &.title-left {left: 9px;}
    &.title-right {right: 1px;}

}

.service-icon:hover + .service-title {
    display: block;
}
