@font-face {
  font-family: 'Novecento';
  font-style: normal;
  font-weight: normal;
  src: local("Novecento"), url("../fonts/novecento.ttf") format("truetype");
}

/* line 8, ../../scss/pages/main.scss */
body {
  font-family: 'Varela', sans-serif;
  font-size: 16px;
  line-height: 1.9em;
  -webkit-font-smoothing: antialiased;
  background: #f0f0f0;
}

/* line 16, ../../scss/pages/main.scss */
a {
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 24, ../../scss/pages/main.scss */
a:hover {
  text-decoration: none;
}

/* line 29, ../../scss/pages/main.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 2em;
}

/* line 33, ../../scss/pages/main.scss */
h1 {
  font-size: 34px;
}

/* line 37, ../../scss/pages/main.scss */
.clear {
  zoom: 1;
}
/* line 40, ../../scss/pages/main.scss */
.clear:before, .clear:after {
  content: "";
  display: table;
}
/* line 45, ../../scss/pages/main.scss */
.clear:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

/* line 54, ../../scss/pages/main.scss */
.row {
  width: 100%;
  margin: 0 auto;
  max-width: 1144px;
}

/* line 60, ../../scss/pages/main.scss */
.content {
  position: relative;
  top: 800px;
  height: 100%;
  padding: 60px 0;
  z-index: 50;
  background: url("../img/whitey.png") #f0f0f0;
  -webkit-animation: intro-content 2s forwards;
  -moz-animation: intro-content 2s forwards;
  -o-animation: intro-content 2s forwards;
  -ms-animation: intro-content 2s forwards;
  animation: intro-content 2s forwards;
}

/* line 74, ../../scss/pages/main.scss */
.container {
  padding: 40px 0;
  margin-bottom: 60px;
}
/* line 78, ../../scss/pages/main.scss */
.container h2 {
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 60px;
}

/* line 86, ../../scss/pages/main.scss */
#service-blurbs > div {
  margin-bottom: 30px;
  position: relative;
}

/* line 91, ../../scss/pages/main.scss */
.service-icon {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
/* line 100, ../../scss/pages/main.scss */
.service-icon.icon-left {
  float: left;
  margin-right: 20px;
}
/* line 105, ../../scss/pages/main.scss */
.service-icon.icon-right {
  float: right;
  margin-left: 20px;
}
/* line 122, ../../scss/pages/main.scss */
.service-icon:hover {
  -webkit-filter: blur(2px);
  opacity: 0.3;
}

/* line 128, ../../scss/pages/main.scss */
.service-title {
  display: none;
  font-size: 16px;
  font-family: 'Lobster', cursive;
  position: absolute;
  top: 10px;
}
/* line 135, ../../scss/pages/main.scss */
.service-title.title-left {
  left: 9px;
}
/* line 136, ../../scss/pages/main.scss */
.service-title.title-right {
  right: 1px;
}

/* line 140, ../../scss/pages/main.scss */
.service-icon:hover + .service-title {
  display: block;
}
