{% extends "base.html" %}

{% block body_classes %}about{% endblock %}

{% block body %}
<section class="light">
    <div class="container">
        <div class="col-sm-7">
            <h2>Why Bernoulli?</h2>
            <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ut massa facilisis diam vestibulum suscipit. Nunc euismod sollicitudin enim ut faucibus. Nam facilisis mi risus, et vestibulum tellus ultrices non. Proin ut vestibulum lorem.
            </p>
            <p>
                Ut porta fermentum velit, eu fermentum magna posuere quis. Pellentesque quis tincidunt justo, vel aliquet mauris. Donec tristique diam quam, vitae rhoncus purus scelerisque at. Ut eu velit vitae arcu porttitor commodo. Quisque nec sem vel lectus lobortis consequat. Mauris vitae iaculis mauris. Phasellus vitae justo eu tortor consequat ultricies. Maecenas vestibulum dolor ut augue tempor rhoncus. Nulla nec quam convallis neque placerat interdum at in sem.
            </p>
        </div>
        <div class="col-sm-5">

        </div>
    </div>
</section>
<section class="medium">
    <div class="container">
        <div class="about-image">
            <img src="/static/img/profile.jpg" class="img-circle" height="300px" />
        </div>
        <div class="about-text">
    <p>
        Anjali Oberoi is an incurable chocoholic, food enthusiast, and environmentalist with extensive experience in finance and operations. Anjali founded Bernoulli Finance to address critical gaps at fast-growing ecologically-minded companies, helping them record, monitor, and use their financial data for better decision making and long term planning.
    </p>
    <p>
        Her other professional affiliations include being the current Finance & Accounting Instructor at the Food Craft Institute (FCI), a nonprofit that teaches current and future entrepreneurs traditional food making and business skills; and Field Expert at Fare Resources, a collective of consultant-entrepreneurs that builds strong food communities through consulting, education, and resource development.
    </p>
    <p>
        Anjali was previously the CFO at Belcampo Group, a food production and farming company with operations across California, Belize, and Uruguay. She also served as the Food Craft Institute's first Treasurer of the Board. Her prior experience spans management consulting for multinationals, financial planning and analysis for small enterprises, and business concept development for seed stage ventures across multiple industries. Her progressive specialization in the food sector stems from an early and unrelenting passion for the history, economics, and production of good chocolate.
    </p>
    <p>
        Anjali holds an MBA in International Business and MS in Finance from Temple University, and an M.Tech. and B.Tech. in Biochemical Engineering & Biotechnology from the Indian Institute of Technology (IIT), Delhi. She is a native English and Hindi speaker, and has a working knowledge of Arabic and Spanish. When not creating financial solutions, Anjali is usually found backpacking, rock climbing, reading or searching for her next best chocolate experience – most often a combination of all of these.
    </p>
    </div>
</div>
</section>
{% endblock %}