<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bernoulli Finance</title>
    <link rel="stylesheet" href="/static/css/screen.css">
    <!-- fonts -->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Raleway:400,200'>
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Varela'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lobster&subset=all'>
</head>
<body class="landing-page">
    <header class="nav-header">
        <nav class="main-nav">
            <span class="site-title">
                <a class="logo" href="/">
                    <img src="/static/img/logo-icon-white.png" class="logo-image" width="100px" height="75px" />
                </a>
            </span>
            <ul class="nav-links clear">
                <li><a href="/"><span>Home</span></a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/services/">Services</a></li>
                <li><a href="/clients/">Clients</a></li>
            </ul>
        </nav>
    </header>
    <header class="header-image">
        <div class="tint"></div>
    </header>
    <div class="header-text">
        <div class="row">
            <h1>Strategy.</h1>
            <h1>Operations.</h1>
            <h1>Analysis.</h1>
        </div>
    </div>

    <div class="content">
        {% block body %}
        {% endblock %}
        <footer>
            <div class="copyright pull-left">
                <span>&copy; Bernoulli Finance 2013</span>
            </div>
            <div class="contact pull-right">
                <ul class="social-icons">
                    <li><a class="email" href="mailto:anjali@bernoullifinance.com?subject=Hello" target="_blank">Email</a></li>
                    <li><a class="linkedin" href="http://www.linkedin.com/in/anjalioberoi" target="_blank">LinkedIn</a></li>
                    <li><a class="facebook" href="https://www.facebook.com/anjali.oberoi" target="_blank">Facebook</a></li>
                    <li><a class="twitter" href="https://twitter.com/catechin27" target="_blank">Twitter</a></li>
                </ul>
            </div>
        </footer>
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script>
    jQuery(function($){
        var nav = $('.nav-header'),
            headerImage = $('.header-image');

        $('.content').waypoint(function(){
            nav.toggleClass('sticky');
        }, { offset: function() {
            return nav.height() - 30;
        }});

    });
</script>

</body>
</html>