<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bernoulli Finance</title>
    <meta name="description" content="Bernoulli Finance consultancy for eco minded ventures strategy operations analytics" />
    <meta name="keywords" content="financial consulting, finance, operations, analytics, strategy, bookkeeping, accounting, budgets, forecasts, company valuation" />
    <link rel="stylesheet" href="/static/css/screen.css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% block extra_css %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53827402-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body class="{% block body_classes %}{% endblock %}">
    <header class="nav-header">
            <nav class="main-nav">
                <span class="site-title">
                    <a class="logo" href="/">
                        <img src="/static/img/logo-white-text.png" class="logo-image img-responsive" width="214px" height="70px" />
                    </a>
                </span>
                <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>
                <div class="navbar-collapse collapse navbar-right" id="top-navbar">
                    <ul class="nav-links clear">
                        <li {% block about_class %}{% endblock %}><a href="/about/">About</a></li>
                        <li {% block services_class %}{% endblock %}><a href="/services/">Services</a></li>
                        <li {% block clients_class %}{% endblock %}><a href="/clients/">Clients</a></li>
                    </ul>
                </div>
            </nav>

    </header>
    {% block header_image %}
    <header class="header-image">
        <div class="tint"></div>
        <div class="header-text container">
            {% block header_text %}{% endblock %}
        </div>
    </header>
    {% endblock %}


    <div class="content">
        {% block body %}
        {% endblock %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <span class="title"> call us </span>
                        <span><a href="tel:+12672554865">+ (267) 255 4865</a> </span>
                    </div>
                    <div class="col-md-4 col-md-push-3 col-xs-6">
                        <span class="title"> follow us </span>
                        <ul class="social-icons list-inline">
                            <li><a class="linkedin" href="http://www.linkedin.com/company/bernoulli-finance" target="_blank">LinkedIn</a></li>
                            <li><a class="facebook" href="https://www.facebook.com/bernoullifinance" target="_blank">Facebook</a></li>
                            <li><a class="twitter" href="https://twitter.com/bernoullifin" target="_blank">Twitter</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-pull-4 col-xs-6">
                        <span class="title"> email us </span>
                        <a class="email" href="mailto:hello@bernoullifinance.com?subject=Hello" target="_blank">hello@bernoullifinance.com</a>
                    </div>

                    <div class="col-md-2 copyright hidden-xs hidden-sm">
                        <em>&copy; 2015 Bernoulli Finance</em>
                    </div>
                </div>
            </div>
        </footer>
    </div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
{% block waypoints %}
<script>
    jQuery(function($){
        var nav = $('.nav-header'),
            headerImage = $('.header-image');

        $('.content').waypoint(function(){
            nav.toggleClass('sticky');
        }, { offset: function() {
            return nav.height() - 30;
        }});

    });
</script>
{% endblock %}
<!-- <script type="text/javascript" src="/scripts/retina.js"></script> -->
{% block extra_js %}{% endblock %}
</body>
</html>
