<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bernoulli Finance</title>
    <link rel="stylesheet" href="/static/css/screen.css">
    <link rel="icon"  type="image/png" href="/static/img/favicon.png">
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body class="{% block body_classes %}{% endblock %}">
    <header class="nav-header">
        <nav class="main-nav">
            <span class="site-title">
                <a class="logo" href="/">
                    <img src="/static/img/logo-white-text.png" class="logo-image" width="214px" height="70px" />
                </a>
            </span>
            <ul class="nav-links clear">
                <li {% block about_class %}{% endblock %}><a href="/about/">About</a></li>
                <li {% block services_class %}{% endblock %}><a href="/services/">Services</a></li>
                <li {% block clients_class %}{% endblock %}><a href="/clients/">Clients</a></li>
                <li {% block contact_class %}{% endblock %}><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </header>
    {% block header_image %}
    <header class="header-image">
        <div class="tint"></div>
    </header>
    {% endblock %}
    <div class="header-text">
        {% block header_text %}{% endblock %}
    </div>

    <div class="content">
        {% block body %}
        {% endblock %}
        <footer>
            <div class="copyright pull-left">
                <em>&copy; 2014 Bernoulli Finance</em>
            </div>
            <div class="contact pull-right">
                <ul class="social-icons">
                    <li><a class="email" href="mailto:hello@bernoullifinance.com?subject=Hello" target="_blank">Email</a></li>
                    <li><a class="linkedin" href="http://www.linkedin.com/company/bernoulli-finance" target="_blank">LinkedIn</a></li>
                   <!--  <li><a class="facebook" href="https://www.facebook.com/anjali.oberoi" target="_blank">Facebook</a></li> -->
                    <li><a class="twitter" href="https://twitter.com/catechin27" target="_blank">Twitter</a></li>
                </ul>
            </div>
        </footer>
    </div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script>
    jQuery(function($){
        var nav = $('.nav-header'),
            headerImage = $('.header-image');

        $('.content').waypoint(function(){
            nav.toggleClass('sticky');
        }, { offset: function() {
            return nav.height() - 30;
        }});

    });
</script>
{% block extra_js %}{% endblock %}
</body>
</html>