{% extends "base.html" %}

{% block body_classes %}clients{% endblock %}

{% block header_text %}
    <h3>Do we fit your equation?</h3>
{% endblock %}

{% block body %}
<section class="medium text-section">
    <div class="container">
        <div class="col-sm-7">
            <p>
                You, our clients, are creating solutions to problems that affect communities and the environments they inhabit. You are growing fast, but perhaps not fast enough.
            </p>
            <p>
                You’ve been meaning to get your finances in order for a while and want to take your venture to the next level – achieving higher profitability by improving efficiency, expanding operations, and bringing in investment.
            </p>
            <p>
                You are not ready for an in-house finance team but recognize the need for financial support that keeps you organized, focused, and continually moving forward.
            </p>
        </div>
        <div class="col-sm-5 image-col">
            <img src="/static/img/sample-handshake.png" height="300" width="456" />
        </div>
    </div>
</section>
<section class="our-clients dark">
    <div class="container">
        <div class="row">
            <h3>Who We Work With</h3>
                <ul>
                    <li class="fare-resources">FareResources</li>
                    <li>Airbnb</li>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                </ul>
        </div>
    </div>
</section>
{% endblock %}