{% extends "base.html" %}

{% block body_classes %}clients{% endblock %}

{% block clients_class %}class="active"{% endblock %}

{% block header_text %}
    <h3>Do we fit your equation?</h3>
{% endblock %}

{% block body %}
<section class="medium text-section">
  <div class="container">
    <div class="col-sm-7">
      <h2 class="visible-phone">Our Clients</h2>
      <p>
        You, our clients, are creating solutions to problems that affect communities and the environments they inhabit. You are growing fast, <strong>but perhaps not fast enough.</strong>
      </p>
      <p>
        You’ve been meaning to <strong>get your finances in order</strong> for a while and want to <strong>take your venture to the next level</strong> – achieving higher profitability by improving efficiency, expanding operations, and bringing in investment.
      </p>
      <p>
        You are not ready for an in-house finance team but recognize the need for financial support that keeps you <strong>organized, focused, and continually moving forward.</strong>
      </p>
      <p><a href="#contact-footer">Let's talk.</a> </p>
    </div>
    <div class="col-sm-5 image-col">
        <img src="/static/img/handshake.png" height="311" width="720" class="img-responsive" />
    </div>
  </div>
</section>
<section class="client-section dark">
  <div class="container">
    <div class="row">
      <h3>Who We Work With</h3>
      <ul class="clients-list">
        <li class="hvr-grow hvr-glow">
          <a href="http://temescalhomebrewing.com/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front temescal-brewing"></div>
                <div class="client-info-back">
                  <h3>Temescal Brewing</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://www.nicole-burke.com/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front nicole-burke"></div>
                <div class="client-info-back">
                  <h3>Nicole Burke Skincare</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://www.juhubeachclub.com/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front juhu-beach-club"></div>
                <div class="client-info-back">
                  <h3>Juhu Beach Club</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://www.cocodelice.com/" target="_blank">
          <div class="client-logo">
              <div class="client-info-wrap">
                  <div class="client-info">
                      <div class="client-info-front coco-delice"></div>
                      <div class="client-info-back">
                          <h3>Coco Delice</h3>
                      </div>
                  </div>
              </div>
          </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
            <a href="http://whisksf.com/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front whisk-sf"></div>
                        <div class="client-info-back">
                            <h3>Whisk</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </li>
        <li class="hvr-grow hvr-glow">
            <a href="http://sweetlorens.com/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front sweet-lorens"></div>
                        <div class="client-info-back">
                            <h3>Sweet Lorens</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </li>
        <li class="hvr-grow hvr-glow">
            <a href="http://thesilico.com/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front the-sili-co"></div>
                        <div class="client-info-back">
                            <h3>The Sili Company</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </li>
        <li class="hvr-grow hvr-glow">
            <a href="http://nuttyness.com/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front nuttyness"></div>
                        <div class="client-info-back">
                            <h3>Nuttyness</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </li>
        <li class="hvr-grow hvr-glow">
            <a href="http://biztwister.com/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front biz-twister"></div>
                        <div class="client-info-back">
                            <h3>Biz Twister</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </li>
        <li class="hvr-grow hvr-glow">
            <a href="http://starterbakery.com/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front starter-bakery"></div>
                        <div class="client-info-back">
                            <h3>Starter Bakery</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </li>
        <li class="hvr-grow hvr-glow">
            <a href="http://nuchas.com/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front nuchas"></div>
                        <div class="client-info-back">
                            <h3>Nuchas</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://kikastreats.com/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front kikas"></div>
                <div class="client-info-back">
                  <h3>Kika's Treats</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://www.basictrainingsf.com/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front basic-training"></div>
                <div class="client-info-back">
                    <h3>Basic Training</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
            <a href="http://charlitoscocina.com/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front charlitos-cocina"></div>
                        <div class="client-info-back">
                            <h3>Charlito's Cocina</h3>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </li>
        <li class="hvr-grow hvr-glow">
            <a href="https://www.facebook.com/BlueRootFarm" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front blue-root-farm"></div>
                        <div class="client-info-back">
                            <h3>Blue Root Farm</h3>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </li>
        <li class="hvr-grow hvr-glow">
            <a href="http://www.foodcraftinstitute.org/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front food-craft-institute"></div>
                        <div class="client-info-back">
                            <h3>Food Craft Institute</h3>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </li>
        <li class="hvr-grow hvr-glow">
            <a href="http://beeraw.com/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front bee-raw"></div>
                        <div class="client-info-back">
                            <h3>Beeraw</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://www.brewlabars.com/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front brewla-bars"></div>
                        <div class="client-info-back">
                            <h3>Brewla Bars</h3>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://cinnamonsnail.com/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front cinnamon-snail"></div>
                        <div class="client-info-back">
                            <h3>Cinnamon Snail</h3>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://www.5phases.com/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front five-phases"></div>
                        <div class="client-info-back">
                            <h3>5 Phases</h3>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://www.cookbookla.com/" target="_blank">
            <div class="client-logo">
                <div class="client-info-wrap">
                    <div class="client-info">
                        <div class="client-info-front cookbook-la"></div>
                        <div class="client-info-back">
                            <h3>Cookbook</h3>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://www.dandelionchocolate.com/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front dandelion-chocolates"></div>
                <div class="client-info-back">
                  <h3>Dandelion Chocolates</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://devocion.com/" target="_blank">
            <div class="client-info-wrap light">
                <div class="client-info">
                    <div class="client-info-front devocion"></div>
                    <div class="client-info-back">
                        <h3>Devocion Coffee</h3>
                    </div>
                </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://www.drazil.com/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front drazil-foods"></div>
                <div class="client-info-back">
                  <h3>Drazil Foods</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="https://goeverly.com/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front everly"></div>
                <div class="client-info-back">
                  <h3>Everly</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://fareresources.com/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front fare-resources"></div>
                <div class="client-info-back">
                  <h3>Fare Resources</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://mhbreadandbutter.com/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front mh-bread-butter"></div>
                <div class="client-info-back">
                  <h3>M.H. Bread & Butter</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://metesandbounds.co/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front metes-bounds"></div>
                <div class="client-info-back">
                  <h3>Metes & Bounds</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://nyseed.org/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front ny-seed"></div>
                <div class="client-info-back">
                  <h3>NYSEED</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://rsfsocialfinance.org/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front rsf-social-finance"></div>
                <div class="client-info-back">
                  <h3>RSF Social Finance</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://www.scrappyforpets.com/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front scrappy"></div>
                <div class="client-info-back">
                  <h3>Scrappy</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://sifted.co/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front sifted"></div>
                <div class="client-info-back">
                  <h3>Sifted</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="http://www.slantedlight.com/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front slanted-light"></div>
                <div class="client-info-back">
                  <h3>Slanted Light</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="hvr-grow hvr-glow">
          <a href="https://www.originalsqueeze.com/" target="_blank">
            <div class="client-info-wrap">
              <div class="client-info">
                <div class="client-info-front original-squeeze"></div>
                <div class="client-info-back">
                  <h3>The Original Squeeze Company</h3>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="light">
  <div class="container">
    <div class="row">
      <h4 class="quote">
        <em><i class="fa fa-quote-left"></i>&nbsp; &nbsp;Anjali's approach to intuiting small business needs and the foresight to ask laser-like questions that unearth the core company values is uncanny. Dedicated to an alignment of values, she works with clients whose company mission makes the world a better place, which is a rare find. I highly recommend her professionalism, ethics, work product, and process.</em>
        <em class="quote-author">- Maggie Spicer, Founder &amp; Chief Creative, Whisk</em>
      </h4>
    </div>
  </div>
</section>
{% endblock %}
