{% extends "base.html" %}

{% block body_classes %}clients{% endblock %}

{% block clients_class %}class="active"{% endblock %}

{% block header_text %}
    <h3>Do we fit your equation?</h3>
{% endblock %}

{% block body %}
<section class="medium text-section">
    <div class="container">
        <div class="col-sm-7">
            <h2 class="visible-phone">Our Clients</h2>
            <p>
                You, our clients, are creating solutions to problems that affect communities and the environments they inhabit. You are growing fast, <strong>but perhaps not fast enough.</strong>
            </p>
            <p>
                You’ve been meaning to <strong>get your finances in order</strong> for a while and want to <strong>take your venture to the next level</strong> – achieving higher profitability by improving efficiency, expanding operations, and bringing in investment.
            </p>
            <p>
                You are not ready for an in-house finance team but recognize the need for financial support that keeps you <strong>organized, focused, and continually moving forward.</strong>
            </p>
            <p><a href="/contact/">Let's talk.</a> </p>
        </div>
        <div class="col-sm-5 image-col">
            <img src="/static/img/handshake.png" height="311" width="720" class="img-responsive" />
        </div>
    </div>
</section>
<section class="client-section dark">
    <div class="container">
        <div class="row">
            <h3>Who We Work With</h3>
            <ul class="clients-list">
                <li>
                    <a href="http://www.cocodelice.com/" target="_blank">
                    <div class="client-logo coco-delice">
                        <div class="client-info-wrap dark">
                            <div class="client-info">
                                <div class="client-info-front coco-delice"></div>
                                <div class="client-info-back">
                                    <h3>Coco Delice</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </li>
                <li>
                    <a href="http://whisksf.com/" target="_blank">
                    <div class="client-logo">
                        <div class="client-info-wrap dark">
                            <div class="client-info">
                                <div class="client-info-front whisk-sf"></div>
                                <div class="client-info-back">
                                    <h3>Whisk</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </li>
                <li>
                    <a href="http://sweetlorens.com/" target="_blank">
                    <div class="client-logo">
                        <div class="client-info-wrap">
                            <div class="client-info">
                                <div class="client-info-front sweet-lorens"></div>
                                <div class="client-info-back">
                                    <h3>Sweet Lorens</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </li>
                <li>
                    <a href="http://thesilico.com/" target="_blank">
                    <div class="client-logo">
                        <div class="client-info-wrap">
                            <div class="client-info">
                                <div class="client-info-front the-sili-co"></div>
                                <div class="client-info-back">
                                    <h3>The Sili Company</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </li>
                <li>
                    <a href="http://nuttyness.com/" target="_blank">
                    <div class="client-logo">
                        <div class="client-info-wrap">
                            <div class="client-info">
                                <div class="client-info-front nuttyness"></div>
                                <div class="client-info-back">
                                    <h3>Nuttyness</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </li>
                <li>
                    <a href="http://biztwister.com/" target="_blank">
                    <div class="client-logo">
                        <div class="client-info-wrap">
                            <div class="client-info">
                                <div class="client-info-front biz-twister"></div>
                                <div class="client-info-back">
                                    <h3>Biz Twister</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </li>
                <li>
                    <a href="http://starterbakery.com/" target="_blank">
                    <div class="client-logo">
                        <div class="client-info-wrap">
                            <div class="client-info">
                                <div class="client-info-front starter-bakery"></div>
                                <div class="client-info-back">
                                    <h3>Starter Bakery</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </li>
                <li>
                    <a href="http://nuchas.com/" target="_blank">
                    <div class="client-logo">
                        <div class="client-info-wrap">
                            <div class="client-info">
                                <div class="client-info-front nuchas"></div>
                                <div class="client-info-back">
                                    <h3>Nuchas</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </li>
                <li>
                    <a href="http://kikastreats.com/" target="_blank">
                    <div class="client-logo">
                        <div class="client-info-wrap">
                            <div class="client-info">
                                <div class="client-info-front kikas"></div>
                                <div class="client-info-back">
                                    <h3>Kika's Treats</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </li>
                <li>
                    <a href="http://www.basictrainingsf.com/" target="_blank">
                    <div class="client-logo">
                        <div class="client-info-wrap">
                            <div class="client-info">
                                <div class="client-info-front basic-training"></div>
                                <div class="client-info-back">
                                    <h3>Basic Training</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </li>
                <li>
                    <a href="http://charlitoscocina.com/" target="_blank">
                    <div class="client-logo">
                        <div class="client-info-wrap">
                            <div class="client-info">
                                <div class="client-info-front charlitos-cocina"></div>
                                <div class="client-info-back">
                                    <h3>Charlito's Cocina</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/BlueRootFarm" target="_blank">
                    <div class="client-logo">
                        <div class="client-info-wrap">
                            <div class="client-info">
                                <div class="client-info-front blue-root-farm"></div>
                                <div class="client-info-back">
                                    <h3>Blue Root Farm</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </li>
                <!--<li>
                    <a href="http://beeraw.com/" target="_blank">
                    <div class="client-logo">
                        <div class="client-info-wrap">
                            <div class="client-info">
                                <div class="client-info-front bee-raw"></div>
                                <div class="client-info-back">
                                    <h3>Beeraw</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </li> -->
            </ul>
        </div>
    </div>
</section>
<section class="light">
    <div class="container">
    <div class="row">
        <h4 class="quote">
            <em>&quot;Anjali's approach to intuiting small business needs and the foresight to ask laser-like questions that unearth the core company values is uncanny. Dedicated to an alignment of values, she works with clients whose company mission makes the world a better place, which is a rare find. I highly recommend her professionalism, ethics, work product, and process.&quot;</em>
            <em class="quote-author">- Maggie Spicer, Founder &amp; Chief Creative, Whisk</em>
        </h4>

    </div>
</div>
</section>
{% endblock %}
