{% extends "base.html" %}

{% block body_classes %}contact{% endblock %}

{% block contact_class %}class="active"{% endblock %}

{% block header_text %}
    <h2>Let's talk!</h2>
    <p class="tel"><img src="/static/img/contact-tel.png" width="64px" height="64px" /><span class="text">+1.267.255.4865</span></p>
    <p class="email"><img src="/static/img/contact-email.png" width="64px" height="64px" /><span class="text"><a href="mailto:hello@bernoullifinance.com?subject=Hello" target="_blank" />hello@bernoullifinance.com</a></span></p>
{% endblock %}
