<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bernoulli Finance</title>
    <link rel="stylesheet" href="/static/css/screen.css">
    <!-- fonts -->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Raleway:400,200'>
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Varela'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:400,700'>
</head>
<body class="landing-page">
    <header class="simple-header">
        <div class="header-wrapper clear">
            <div class="header-image">
                <img src="/static/img/road-large.jpg" height="765px" width="100%">
            </div>
            <div class="header-nav">
                <nav class="main-nav">
                    <span class="site-title">
                        <a class="logo" href="/">
                            <img src="/static/img/logo.png" class="logo-image" width="163px" height="63px" />
                        </a>
                    </span>
                    <ul class="nav-links clear">
                        <li><a href="/"><span>Home</span></a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/services/">Services</a></li>
                        <li><a href="/clients/">Clients</a></li>
                        <li><a href="/media/">Media</a></li>
                        <li><a href="/contact/">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-text">
                <h1>Defining new pathways to growth</h1>
            </div>
        </div>
    </header>
    <section class="content">
        <div class="content-wrapper clear">
            <h1>Hello.</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce luctus hendrerit purus, at aliquet diam mattis vitae. Aliquam arcu turpis, hendrerit in mattis vel, pellentesque non turpis. Pellentesque vel lacus orci. Donec diam lectus, aliquet quis leo quis, tempor tincidunt nunc. Morbi sem augue, suscipit id imperdiet eleifend, euismod et nisi. Sed in lacus vitae massa condimentum aliquet. Nulla fermentum libero ut libero suscipit vulputate. Suspendisse velit lectus, ornare mollis nulla vitae, tincidunt lobortis mauris. Sed id mollis leo. Cras lobortis ornare congue. Fusce quis consectetur massa, ac suscipit lorem. Phasellus porta rutrum consectetur. Curabitur vitae risus magna. Quisque non diam mollis, varius nisl vel, congue quam. Vestibulum adipiscing nibh felis, in dapibus turpis placerat at.

Sed porta arcu non nulla suscipit, et venenatis mauris sollicitudin. Nam sed arcu augue. In semper blandit fermentum. Sed commodo nisi adipiscing neque mollis malesuada. Donec dictum velit sit amet cursus dignissim. Integer consectetur posuere mauris, pulvinar dictum nunc hendrerit at. Nunc interdum, elit ac feugiat dignissim, metus eros vulputate odio, ut molestie velit lorem id nunc. Nullam dignissim velit quis pretium bibendum. Donec pellentesque euismod quam eu malesuada. Vivamus a lectus hendrerit, interdum turpis tincidunt, vestibulum magna. In laoreet dui eget turpis dictum laoreet. In commodo pretium justo porttitor fringilla. Mauris sagittis tempor adipiscing. Curabitur lacinia dolor risus, sit amet varius eros aliquam quis. Maecenas id magna ante.

Donec et faucibus dui, non pretium turpis. Vivamus id quam non magna venenatis pharetra. Integer lectus massa, bibendum eu diam eu, vulputate hendrerit nulla. Aliquam vel pellentesque risus. Phasellus porta justo eget turpis tempus tempor. In hendrerit, nulla non eleifend congue, leo elit tincidunt mi, eget sagittis augue augue eget libero. Aliquam tortor arcu, scelerisque in fringilla id, dictum eu erat. Nullam non nisi sit amet tortor hendrerit ullamcorper ut nec arcu.

In facilisis tristique enim eu interdum. Etiam at enim interdum nibh vehicula gravida eu sed lectus. Donec ut odio in est eleifend sodales eget nec velit. Maecenas lectus erat, pulvinar sed nisi at, luctus ultrices felis. Nunc suscipit eleifend tellus ac porta. Sed neque nunc, tempor vitae scelerisque sed, egestas sollicitudin augue. Donec semper dignissim malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Aenean vestibulum, dolor at volutpat pellentesque, odio urna venenatis lectus, non facilisis eros enim in ante. Etiam at adipiscing sem. Aliquam eu pharetra odio. Sed egestas nulla non risus congue ullamcorper.

Quisque eget viverra nisi, at dictum lorem. Pellentesque viverra dolor risus, vitae pulvinar nibh faucibus ac. Nunc luctus mattis interdum. Nulla consectetur pulvinar tincidunt. Ut neque dolor, lobortis sit amet consequat in, semper a nisl. Etiam vel turpis quis orci pulvinar imperdiet nec non tortor. Praesent commodo, dui quis vehicula facilisis, risus lacus volutpat mi, vitae auctor turpis nibh eget tortor. Ut vulputate purus magna, sit amet varius odio pulvinar eu. Quisque ornare id ipsum auctor vulputate. Nullam id pellentesque ligula. Phasellus lobortis turpis sit amet neque tempus laoreet. Nulla nibh leo, sagittis a sodales non, molestie sed nisl.
</p>
        </div>
    </section>

    <footer>
        <div class="contact">
            <ul class="social-icons">
                <li class="facebook">Facebook</li>
                <li class="facebook">Twitter</li>
                <li class="facebook">LinkedIn</li>
        </div>
    </footer>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>