{% extends "base.html" %}

{% block body_classes %}landing-page{% endblock %}

{% block header_text %}
    <h1>Operations.</h1><br/>
    <h1>Analytics.</h1><br/>
    <h1>Strategy.</h1>
{% endblock %}

{% block body %}
<section class="about medium">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5>We are a financial services consultancy, <strong>passionate</strong> about helping <strong>ecologically-minded ventures</strong> achieve <strong>success</strong>.</h5>
                <h5>We help you set strategic goals and develop customized financial roadmaps that enable you to <strong>streamline daily operations</strong>, make the <strong>best use of available resources</strong>, and <strong>realize your vision</strong>.</h5>
                <h5>Learn more <a href="/about/">about us.</a> </h5>
            </div>
            <div class="col-sm-6">
                <img src="static/img/ecotree.png" width="380" height="430" class="img-responsive" />
            </div>
        </div>
    </div>
</section>
<section class="services dark">
    <div class="container">
        <div class="row">
            <h3>Our Services</h3>
        </div>
        <div class="row">
            <a href="/services/">
                <div class="col-sm-4">
                    <span class="service operations"></span>
                    <h3>Operations</h3>
                    <p>
                        Bookkeeping. Accounting. Tracking. Reporting.
                    </p>
                </div>
            </a>
            <a href="/services/">
                <div class="col-sm-4">
                    <span class="service analytics"></span>
                    <h3>Analytics</h3>
                    <p>
                        Analyze. Evaluate. Validate.
                    </p>
                </div>
            </a>
            <a href="/services/">
                <div class="col-sm-4">
                    <span class="service strategy"></span>
                    <h3>Strategy</h3>
                    <p>
                        Forecasting. Planning. Fundraising.
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="clients light">
<div class="container">
    <div class="row">
        <h2 class="quote">
            <em>&quot;Anjali was professional and helped us shape our finances so we could realize our vision.&quot;
        </h2>
    </div>
</div>
</section>
{% endblock %}