{% extends "base.html" %}

{% block body_classes %}services{% endblock %}

{% block services_class %}class="active"{% endblock %}

{% block header_text %}
    <h3>Our range of services meets you where you are.</h3>
{% endblock %}

{% block body %}
<section class="medium">
    <a name="operations" class="anchor">&nbsp;</a>
    <div class="container">
        <div class="col-sm-8">
            <h2>Operations</h2>
            <p>
                We offer assistance with <strong>bookkeeping and accounting</strong>, building and managing your internal financial operations so bills get paid and revenue gets collected. To give you the information you need to <strong>manage your cash flow</strong> and improve your operations in real time, we develop <strong>easy-to-use, informative tracking tools.</strong> Whether your ultimate goal is accounting self-sufficiency or continued external support, we can help.
            </p>
        </div>
        <div class="col-sm-4 icon-section">
            <span class="icon icon-operations"></span>
        </div>
    </div>
</section>
<section class="dark analytics">
    <a name="analytics" class="anchor">&nbsp;</a>
    <div class="container">
        <div class="col-sm-4 icon-section">
            <span class="icon icon-analytics"></span>
        </div>
        <div class="col-sm-8">
            <h2>Analytics</h2>
            <p>
                Once we’ve gathered accurate data and created tracking methods for your company, we analyze that information to help you make optimal business decisions for immediate implementation. To that end, we provide a full suite of analysis and reporting services including:
                <div class="cols">
                    <ul>
                        <li>Trends and Margin Analyses</li>
                        <li>Cost-Benefit Analyses</li>
                        <li>Company Valuation</li>
                        <li>Pricing and Channel Optimization</li>
                        <li>Equity &amp; Compensation Structuring</li>
                        <li>Operational Planning</li>
                        <li>Inventory Management</li>
                        <li>Cost Streamlining</li>
                    </ul>
                </div>
            </p>
        </div>
    </div>
</section>
<section class="light">
    <a name="strategy" class="anchor">&nbsp;</a>
    <div class="container">
        <div class="col-sm-8">
            <h2>Strategy</h2>
            <p>
                So that you are prepared for what the future will bring, we work with you to <strong>chart your long-term course of action.</strong> We translate your business goals into a financial roadmap, developing <strong>annual budgets &amp; forecasts, detailed multi-year financial projections, and ongoing investment strategies.</strong> Our tools enable you to minimize operational surprises, support sustained growth, and build a viable and lasting enterprise.
            </p>
        </div>
        <div class="col-sm-4 icon-section">
            <span class="icon icon-strategy"></span>
        </div>
    </div>
</section>
<section class="client-section dark">
    <div class="container">
        <div class="row">
            <h3>Who We Partner With</h3>
            <ul class="clients-list">
                <li>
                    <a href="http://fareresources.com/" target="_blank">
                    <div class="client-logo fare-resources">
                        <div class="client-info-wrap dark">
                            <div class="client-info">
                                <div class="client-info-front fare-resources"></div>
                                <div class="client-info-back">
                                    <h3>Fare Resources</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="medium">
    <div class="container">
    <div class="row">
        <h4 class="quote">
            <em>&quot;Anjali has an amazing ability to listen to my needs, concerns and ideas - however incoherently I may express them, and come up with a logical, implementable plan of attack for the tasks at hand. She is also very well connected in the business community which is invaluable when needing another skill set for my business. In summary, I would not want to travel down the Entrepreneur path without her.&quot;</em>
            <em class="quote-author">- Dennis Kearney, Founder &amp; CEO, Coco Delice Fine Chocolates</em>
        </h4>
    </div>
</div>
</section>
{% endblock %}
