{% extends "base.html" %}

{% block body %}
<section class="services container">
    <div class="row">
        <h2>Strategy</h2>
        <div>
            We create and support your business planning process so you know what the near future may bring and how to chart your long-term course of action. We develop financial roadmaps – budgets & forecasts, detailed financial plans, investment strategies – to minimize operational surprises and help you build a scalable and viable enterprise.
        </div>
    </div>
    <div class="row">
        <h2>Operations</h2>
        <div>
            We create and support your business planning process so you know what the near future may bring and how to chart your long-term course of action. We develop financial roadmaps – budgets & forecasts, detailed financial plans, investment strategies – to minimize operational surprises and help you build a scalable and viable enterprise.
        </div>
    </div>
    <div class="row">
        <h2>Analysis</h2>
        <div>
            We create and support your business planning process so you know what the near future may bring and how to chart your long-term course of action. We develop financial roadmaps – budgets & forecasts, detailed financial plans, investment strategies – to minimize operational surprises and help you build a scalable and viable enterprise.
        </div>
    </div>
</section>
{% endblock %}
