{% extends "base.html" %}

{% block body_classes %}services{% endblock %}

{% block body %}
<section class="services container">
    <div class="row">
        <h2>Operations</h2>
        <div>
            We offer assistance with bookkeeping and accounting, building and managing your internal financial operations so bills get paid and revenue gets collected. To give you the information you need to manage your cash flow and improve your operations in real time, we develop easy-to-use, informative tracking tools. Whether your ultimate goal is accounting self-sufficiency or continued external support, we can help.
        </div>
    </div>
    <div class="row">
        <h2>Analytics</h2>
        <div>
            Once we’ve gathered accurate data and created tracking methods for your company, we analyze that information to help you make optimal business decisions for immediate implementation. To that end, we provide a full suite of analysis and reporting services:

        </div>
    </div>
    <div class="row">
        <h2>Strategy</h2>
        <div>
            We create and support your business planning process so you know what the near future may bring and how to chart your long-term course of action. We develop financial roadmaps – budgets & forecasts, detailed financial plans, investment strategies – to minimize operational surprises and help you build a scalable and viable enterprise.
        </div>
    </div>


</section>
{% endblock %}
