@media (max-width: $screen-xs-min) and (max-width: $screen-xs-max) {

    h2.visible-phone {
        display: block;
        text-align: center;
    }

    h2 {
        font-size: 36px;
        line-height: 1.5em;
    }

    .header-image {
        height: 600px;
        top: 0;
    }

    .content {
        top: 500px;
    }

    .main-nav {
        ul {
            float: none;
            text-align: center;
            padding-left: 0;
        }

        li {
            height: 60px;
            margin: 0;
            display: block;

            &:last-child {
                height: 100px;
            }
        }

        a {
            font-size: 16px;
        }
    }

    .landing-page .header-text {

        h1 {
            font-size: 30px;
        }
    }

    .services {

        .header-text {

            h3 {
                font-size: 26px;
                width: 250px;
                height: 250px;
                padding: 25px;
            }
        }

        .icon {
            display: none !important;
        }

        section {
            padding-top: 25px;
        }

    }

    .clients {
        .header-text {

            h3 {
                font-size: 26px;
            }

        }
    }

}

@media (max-width: $screen-xs-min) {

    .logo img {
        width: 141px;
        margin-top: 15px;
    }

    footer {
        .copyright, .contact {
            float: none !important;
            text-align: center;
        }

        .social-icons {
            padding: 0;
            margin: 10px 0;
        }

    }

    .services .header-text h3 {
        font-size: 22px;
        width: 200px;
        height: 200px;
        padding: 16px;
    }

    .contact {
        .header-image {
            height: 600px;
            top: 0;
        }

        .content {
            position: relative;
            top: 650px;
        }
    }
}

@media(min-width: $screen-sm-min) {
    .services {
        .icon-section {
            margin-top: 60px;
        }
    }
}


@media(max-width: $screen-sm-max) {
    .contact .header-text {

        margin-top: -135px;
        margin-left: -100px;

        h2 {
            font-size: 34px;
        }

        p {
            margin: 8px 0;
            font-size: 16px;
        }
        }

    .nav-links {
        font-size: 17px;
        letter-spacing: 1.5px;
        padding-left: 0;

        li {
            margin: 0 13px;
        }
    }
}

@media (min-width: $screen-md-min) {

    .about {
        .propellor-plane {
            margin-top: 200px;
        }

        .profile-image img {
            margin-top: 160px;
        }
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

    .contact .header-text {

        margin-top: -220px;
        margin-left: -150px;

        h2 {
            font-size: 80px;
        }
    }
}