@media (max-width: $screen-xs-min) {

    footer {
        .copyright, .contact {
            float: none !important;
        }

        .social-icons {
            padding: 0;
            margin: 10px 0;
        }

    }
}


@media (max-width: $screen-xs-max) {

    h2.visible-phone {
        display: block;
        text-align: center;
    }

    h2 {
        font-size: 36px;
        line-height: 1.5em;
    }

    .header-image {
        height: 600px;
        top: 0;
    }

    .content {
        top: 500px;
    }

    .main-nav {
        ul {
            float: none;
            text-align: center;
            padding-left: 0;
        }

        li {
            height: 60px;
            margin: 0;
            display: block;

            &:last-child {
                height: 100px;
            }
        }

        a {
            font-size: 16px;
        }
    }

    .landing-page .header-text {

        top: 20%;

        h1 {
            font-size: 30px;
        }
    }

    .services {

        .header-text {

            top: 10%;
            left: 25%;

            h3 {
                font-size: 26px;
                width: 250px;
                height: 250px;
                padding: 25px;
            }
        }

        .icon {
            display: none !important;
        }

        section {
            padding-top: 25px;
        }

    }

    .clients {
        .header-text {

            top: 14%;
            left: 26%;

            h3 {
                font-size: 26px;
            }

        }
    }

}

@media(max-width: $screen-md-min) {
    .nav-links {
        font-size: 17px;
        letter-spacing: 1.5px;

        li {
            margin: 0 13px;
        }
    }
}

@media(min-width: $screen-sm-min) {
    .services {
        .icon-section {
            margin-top: 60px;
        }
    }
}

@media (min-width: $screen-md-min) {

    .about {
        .propellor-plane {
            margin-top: 200px;
        }

        .profile-image img {
            margin-top: 160px;
        }
    }
}

@media(max-width: $screen-md-max) {

    .contact .header-text h2 {
        font-size: 30px;
    }
}

