@media(max-width: $screen-sm-max) {
  .header-image {
    top: 0 !important;
    height: 100%;
  }

  .nav-links {
    font-size: 17px;
    letter-spacing: 1.5px;
    padding-left: 0;

    li {
      margin: 0 13px;
    }
  }

  .content {
    padding-bottom: 200px;
  }

  .md-modal {
    width: 100%;
    top: 65%;
  }

  .services .cols ul li {
    width: 100%;
  }
}

@media (max-width: $screen-xs-min) and (max-width: $screen-xs-max) {

    h2.visible-phone {
        display: block;
        text-align: center;
    }

    .main-nav {
        ul {
            float: none;
            text-align: center;
            padding-left: 0;
        }

        li {
            height: 60px;
            margin: 0;
            display: block;

            &:last-child {
                height: 100px;
            }
        }

        a {
            font-size: 16px;
        }
    }

    .landing-page .header-text {

        h1 {
            font-size: 30px;
        }
    }

    .services {

        .header-text {

            h3 {
                font-size: 26px;
                width: 250px;
                height: 250px;
                padding: 25px;
            }
        }

        .icon {
            display: none !important;
        }

        section {
            padding-top: 25px;
        }
    }

    .clients {
        .header-text {

            h3 {
                font-size: 26px;
            }

        }
    }

}

@media (max-width: $screen-xs-min) {

    footer {
        .copyright, .contact {
            float: none !important;
            text-align: center;
        }

        .social-icons {
            padding: 0;
            margin: 10px 0;
        }

    }

    .services .header-text h3 {
        font-size: 22px;
        width: 200px;
        height: 200px;
        padding: 16px;
    }

}

@media (max-width: $screen-xs-max) {

    body {
        font-size: 16px;
    }

    h2 {
        font-size: 33px;
        line-height: 1.5em;
    }

    h3 {
      font-size: 27px;
    }

    h4 {
      font-size: 20px;
    }

    section {
      padding: 0 0 50px 0;
    }

    .logo img {
        width: 141px;
        margin-top: 10px;
    }

    .header-image {
        height: 80%;
        top: 0;
    }

    .content {
      top: 483px;
    }

}

@media(min-width: $screen-sm-min) {
    .services {
        .icon-section {
            margin-top: 60px;
        }
    }
}

@media(max-width: $screen-md-max) {
    .about .profile-img {
        img {
            width: 150px;
            height: 150px;
        }
    }
}

@media (min-width: $screen-md-min) {

    .about {
        .propellor-plane {
            margin-top: 170px;
        }
    }
}
